html, body {
    height:100%;
}
#wrap {
    min-height:100%;
    height:auto;
    margin:0 auto -102px;
}
#footer {
    height:102px;
    background-color:#f5f5f5;
}
#input { 
    height: 76px;
    margin-top: 4px;
    width: 470px;
}
#send {
    vertical-align: top;
    margin-top: 8px;
}