html, body {
    margin:0;
    padding:0;
}
#header {
    position:absolute;
    top:0;
    height:100px;
    width:inherit;
}
#wrap {
  min-height:100%;
  height:auto;
  margin:0 auto -102px;
}
#footer {
  background-color:#f5f5f5;
  position:absolute;
  bottom:0;
  height:100px;
  width:100%;
}
#input { 
  height: 76px;
  margin-top: 4px;
  width: 470px;
}
#send {
  vertical-align: top;
  margin-top: 8px;
}
#content {
    position:absolute;
    top:100px;
    bottom:100px;
    width:inherit;
    overflow:auto;
}